<form [formGroup]="fg">

<mat-checkbox formControlName="show"></mat-checkbox>
<mat-select formControlName="team1">
  <mat-option *ngFor="let team of teams | async" [value]="team.name"> {{team.name}} </mat-option>
</mat-select>
<mat-select formControlName="score1">
  <mat-option value="0">0</mat-option>
  <mat-option value="1">1</mat-option>
</mat-select>
<mat-select formControlName="score2">
  <mat-option value="0">0</mat-option>
  <mat-option value="1">1</mat-option>
</mat-select>
<mat-select formControlName="team2">
  <mat-option *ngFor="let team of teams | async" [value]="team.name"> {{team.name}} </mat-option>
</mat-select>
</form>
