@import url('https://fonts.googleapis.com/css?family=Lilita+One');

$blue: #2070ff;
$red: #f24424;
$blue-box-shadow: inset 0px -4px 0px 1px darken($blue, 10%), inset 0px 4px 0px 0px lighten($blue, 10%);
$red-box-shadow: inset 0px -4px 0px 1px darken($red, 10%), inset 0px 4px 0px 0px lighten($red, 10%);

:host {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
}

.scoreboard {
  display: grid;
  grid-template-columns: 190px 53px 53px 190px;
  height: 50px;
  width: 480px;
  margin: 0 auto;
  box-sizing: border-box;
}

.score {
  color: #fff;
  font-family: 'Lilita One', cursive;
  line-height: 50px;
  text-align: center;
  border: 1px solid #000;
  border-bottom-width: 2px;
  font-size: 25px;
  &.blue {
    background-color: $blue;
    border-left-width: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: $blue-box-shadow;
  }
  &.red {
    background-color: $red;
    border-right-width: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: $red-box-shadow;
  }
}

.team-name {
  color: #fff;
  font-family: 'Lilita One', cursive;
  height: 36px;
  border: 1px solid #000;
  line-height: 36px;
  margin-top: 7px;
  border-bottom-width: 2px;
  &.blue {
    background-color: $blue;
    border-left-width: 0;
    padding-left: 10px;
    text-align: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: $blue-box-shadow;
  }
  &.red {
    background-color: $red;
    border-right-width: 0;
    padding-right: 10px;
    text-align: right;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: $red-box-shadow;
  }
}
